<div class="heading" id="{{headingName}}">
    
    <span class="icon">
        <i {{action 'show'}} class="fa fa-bars"></i>
    </span>
    <span class="text">{{headingName}}</span> 
</div>
<div class="menu {{if active 'active'}}">
    <div {{action "show"}} id="menu-header"><i class="fa fa-bars"></i>{{headingName}}</div>
    {{#link-to "active"}}<div {{action "show"}} id="menu-active"><div><i class="fa fa-check-circle-o"></i>Active</div></div>{{/link-to}}
    {{#link-to "pending"}}<div {{action "show"}} id="menu-pending"><i class="fa fa-clock-o"></i>Pending</div>{{/link-to}}
    {{#link-to "drafts"}}<div {{action "show"}} id="menu-drafts"><div><i class="fa fa-pencil-square-o"></i>Drafts</div></div>{{/link-to}}
    <div {{action "show"}} id="menu-suspended-active"><div><i class="fa fa-ban"></i>Suspended</div></div>
    <div id="menu-requestor"><span id="requestor-name">John Smith</span><br/>Requestor | Nordea</div>
    <div id="menu-settings"><div><i class="fa fa-cog"></i>Settings</div></div>
    <div id="menu-help"><div><i class="fa fa-question-circle"></i>Help &amp; Feedback</div></div>
    <div id="menu-sign-out"><div><i class="fa fa-square"></i>Sign out</div></div>

</div>
<div {{action "off"}} class="main">
    <div class="container">
        <div class="line-Title">
            <div class="row">
                <div id="margin-Title" class="col-xs-5">Name</div>
                <div class="col-xs-2">Active since</div>
                <div class="col-xs-2">Last Modified</div>
                <div class="col-xs-2">Token requestor ID</div>
                <div class="col-xs-1"></div>
            </div>
        </div>
        {{#each model as |profile|}}
            <div class="lines">

                <div class="row">
                    <div id="margin-Name" class="col-xs-5">{{profile.name}}</div>
                    <div class="col-xs-2">{{profile.active}}</div>
                    <div class="col-xs-2">{{profile.modified}}</div>
                    <div class="col-xs-2">{{profile.requestorID}}</div>
                    <div id="margin-Ellipsis" class="col-xs-1"><i class="fa fa-ellipsis-v"></i></div>
                </div>
            </div>
        {{/each}}
    </div>
    <a class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">+</i></a>
</div>

